.product-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 576px) {
  .products-section {
    display: flex;
    justify-content: space-between;
  }
}
