.home-container {
  height: 80vh;
  margin-top: 140px;
}
.home-mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-heading {
  color: #1e293b;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}
.shop-now-button {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 9px;
  border: solid 1px transparent;
  border-radius: 3px;
  cursor: pointer;
}
.home-mobile-img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50%;
  width: 50%;
}
.home-description {
  text-align: center;
  padding-left: 20px;
  padding-right: 22px;
  margin-bottom: 40px;
}
.home-desktop-img {
  display: none;
}
@media screen and (min-width: 576px) {
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  .home-mobile-container {
    display: flex;
    align-items: flex-start;
  }
  .home-mobile-img {
    display: none;
  }
  .home-heading {
    font-size: 46px;
  }
  .home-desktop-img {
    display: block;
    height: 80%;
    width: 100%;
  }
  .home-description {
    text-align: left;
    width: 60%;
    padding: 0px;
  }
}
